@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(232, 235, 250);
  font-family: Cormorant SC, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}
/* loader */
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.loader img {
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate, (-45%, -45%);
}
.image-container {
  margin: 10px 30%;
}
.image-container img {
  width: 100%;
  margin-top: 5px;
}
/* media query for large smartphones*/
@media screen and(max-width:600px) {
  h1 {
    font-size: 20px;
  }
  .image-container {
    margin: 10px;
  }
}
